main {
    /*font-family: 'Merriweather', serif;*/
    /*font-family: 'Source Sans Pro', sans-serif;*/
    font-family: 'Codystar', cursive;
}

header {
    height: 100px;
    background: #5396C2;

}

.banner img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    overflow: auto;
}

#std {
    padding: 0px;
    margin: auto;
    overflow: scroll;
    height: 98%;
    border: 1px solid transparent;
}

.center {
    position: absolute;
    top: 60%;
    left: 50%;
    overflow: auto;
    transform: translate(-50%, -50%);
}

.centertext {
    width: 100%;
    display: inline-block;
    text-align: center;
    font-style: normal;
    font-weight: normal;
    font-size: 3em;
    color: white;
    overflow: auto;
    border: 1px dashed black;
    background-color: #5095C3;
}

.centertext p::before {
    content: "18th June 2016"
}

.centertext p::after {
    content: "Are getting married!"
}

.addressbtn {
    display: inline-block;
    text-align: center;
    width: 100%;
    height: 100%;
    color: white;
    font-size: 2em;
    overflow: auto;
    border: 1px dashed black;
    background-color: #5095C3;
}

.addressbtn:hover {
    background-color: #3062a0;
}

a > .addressbtn {
    text-decoration: none;
    color: white;
    margin-top: 20px;
}

body form {
    display: inline-block;
    width: 100%;
    border: 1px dashed black;
    background-color: #5095C3;
    font-size: 1em;
    color: white;
    overflow: auto;
}

form label {
    margin-left: 10px;
    font-size: 1em;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
    overflow: auto;
    align: left;
    display: inline-block;

}

form input {
    margin-top: 15px;
    font-size: 1em;

    margin-right: 10px;
    display: inline-block;
    position: absolute;
    right: 0;

}

form textarea {
    font-size: 1em;
    margin-right: 10px;
    margin-top: 15px;
    margin-bottom: px;
    display: inline-block;
    position: absolute;
    right: 0;
}

#addForm {
    overflow: auto;
}

#addForm button {
    display: inline-block;
    text-align: center;
    width: 100%;
    height: 100%;
    color: white;
    font-size: 2em;
    overflow: auto;
    border: 1px dashed black;
    background-color: #5095C3;
}
#wrap  {
    color: #0f0f0f;
    font-size: 0.2em;
    position: absolute;
    bottom: 0;
    left: 0;
}

#apologies{
    visibility: hidden;
    opacity: 0;
}

#wrap:hover #apologies {
    color: #0f0f0f;
    font-size: 0.2em;
    visibility: visible;
    opacity: 1;
}

.calenderbtn {
    color: #0f0f0f;
    font-size: 0.2em;
    position: absolute;
    top: 10;
    right: 5;
}
@media all and (max-width: 750px) {
    .banner img {
        visibility: hidden;
    }

    header {
        visibility: hidden;
    }
    .centertext {
        width: 100%;
        display: inline-block;
        text-align: center;
        font-style: normal;
        font-weight: normal;
        font-size: 2.5em;
        color: white;
        overflow: auto;
        background-color: #5095C3;
    }
    .addressbtn {
        display: inline-block;
        text-align: center;
        width: 100%;
        height: 100%;
        color: white;
        font-size: 2.5em;
        overflow: auto;
        border: 1px dashed black;
        background-color: #5095C3;
    }
    body form {
        display: inline-block;
        width: 100%;
        border: 1px dashed black;
        background-color: #5095C3;
        font-size: 0.5em;
        color: white;
        overflow: auto;
    }

    form label {
        margin-left: 10px;
        font-size: 0.5em;
        margin-top: 10px;
        margin-bottom: 0.5px;
        padding: 5px;
        overflow: auto;
        align: left;
        display: inline-block;

    }

    form input {
        margin-top: 15px;
        font-size: 0.5em;
        margin-right: 10px;
        display: inline-block;
        position: absolute;
        right: 0;

    }

    form textarea {
        font-size: 0.5em;
        margin-right: 10px;
        margin-top: 15px;
        margin-bottom: px;
        display: inline-block;
        position: absolute;
        right: 0;
    }


}

@media all and (max-width: 560px) {
    .banner img {
        visibility: hidden;
    }

    header {
        visibility: hidden;
    }
    .centertext {
        width: 100%;
        display: inline-block;
        text-align: center;
        font-style: normal;
        font-weight: normal;
        font-size: 1em;
        color: white;
        overflow: auto;
        background-color: #5095C3;
    }
    .addressbtn {
        display: inline-block;
        text-align: center;
        width: 100%;
        height: 100%;
        color: white;
        font-size: 1em;
        overflow: auto;
        border: 1px dashed black;
        background-color: #5095C3;
    .calenderbtn {
        color: #0f0f0f;
        font-size: 0.2em;
        position: absolute;
        margin-left: 40%;
    }
}